# Union de base de datos Censo y la tipologia de hogar

In [5]:
#Librerias

import pandas as pd 
import pyreadstat
from tqdm import tqdm

In [6]:
# Ubicacion del la base de datos censo 2010

path_enemdu = 'data_enemdu/df_resultado.sav'

# Ubicacion del la base de datos de tipologia de hogar

path_tipology = 'Tipologia_final_enemdu.csv'

In [11]:
# Lectura de la base de datos Censo 2010 en formato ".sav"

df_enemdu, metadata_censo_enemdu = pyreadstat.read_sav(path_enemdu, apply_value_formats=False)

In [12]:
# Lectura de la base de datos tipologia de hogar en formato ".csv"

df_tipology = pd.read_csv(path_tipology)

In [13]:
df_enemdu.head()

,area,ciudad,conglomerado,zona,sector,panelm,vivienda,hogar,p01,p02,...,eq1801,eq1802,eq1901,eq1902,vi22,vi23,vi24,vi25,plan_muestreo_y,fexp_y
0,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,1.0,2.0,...,1.0,1.0,2.0,NaN,1.0,4.0,2.0,NaN,1013,258.511095
1,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,2.0,1.0,...,1.0,1.0,2.0,NaN,1.0,4.0,2.0,NaN,1013,258.511095
2,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,3.0,2.0,...,1.0,1.0,2.0,NaN,1.0,4.0,2.0,NaN,1013,258.511095
3,1.0,10150.0,999999.0,1.0,3.0,13.0,3.0,1.0,1.0,1.0,...,1.0,2.0,2.0,NaN,1.0,2.0,2.0,NaN,1013,258.511095
4,1.0,10150.0,999999.0,1.0,3.0,13.0,3.0,1.0,2.0,2.0,...,1.0,2.0,2.0,NaN,1.0,2.0,2.0,NaN,1013,258.511095

In [14]:
df_tipology.head()

,P01,P02,id,Numero de hijos,Numero de hijas,Parientes,No Parientes,Codigo,Nh,Tipology,Tipo de Hogares
0,2.0,1.0,1.010150.0999999.01.03.013.02.01.0,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
1,1.0,1.0,1.010150.0999999.01.03.013.03.01.0,2.0,0.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
2,1.0,1.0,1.010150.0999999.01.03.013.04.01.0,1.0,0.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
3,1.0,1.0,1.010150.0999999.01.03.023.01.01.0,1.0,2.0,0.0,0.0,123,3.0,2,Nuclear Biparental con hijos
4,1.0,1.0,1.010150.0999999.01.03.023.02.01.0,0.0,2.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos

# Merge entre base de datos

In [15]:
# Crear el id que permitira la union entre base de datos

df_tipology['id_hog']=df_tipology['id']

In [17]:
df_enemdu['area'] = df_enemdu['area'].astype(str)
df_enemdu['ciudad'] = df_enemdu['ciudad'].astype(str)
df_enemdu['conglomerado'] = df_enemdu['conglomerado'].astype(str)
df_enemdu['zona'] = df_enemdu['zona'].astype(str)
df_enemdu['sector'] = df_enemdu['sector'].astype(str)
df_enemdu['panelm'] = df_enemdu['panelm'].astype(str)
df_enemdu['vivienda'] = df_enemdu['vivienda'].astype(str)
df_enemdu['hogar'] = df_enemdu['hogar'].astype(str)

In [18]:
df_enemdu['id_hog'] = df_enemdu['area']+df_enemdu['ciudad']+df_enemdu['conglomerado']+df_enemdu['zona']+df_enemdu['sector']+df_enemdu['panelm']+df_enemdu['vivienda']+df_enemdu['hogar']

In [19]:
# Conocer el tipo de datos  de los id que permitiran la union de las bases de datos
print(df_enemdu['id_hog'].dtypes)
print(df_tipology['id_hog'].dtypes)

object
object

In [26]:
%%time
df_result_final = pd.merge(df_enemdu, df_tipology, on= 'id_hog', how='outer' )

Wall time: 967 ms

In [27]:
df_result_final

,area,ciudad,conglomerado,zona,sector,panelm,vivienda,hogar,p01,p02,...,P02,id,Numero de hijos,Numero de hijas,Parientes,No Parientes,Codigo,Nh,Tipology,Tipo de Hogares
0,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,1.0,2.0,...,1.0,1.010150.0999999.01.03.013.02.01.0,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
1,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,2.0,1.0,...,1.0,1.010150.0999999.01.03.013.02.01.0,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
2,1.0,10150.0,999999.0,1.0,3.0,13.0,2.0,1.0,3.0,2.0,...,1.0,1.010150.0999999.01.03.013.02.01.0,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
3,1.0,10150.0,999999.0,1.0,3.0,13.0,3.0,1.0,1.0,1.0,...,1.0,1.010150.0999999.01.03.013.03.01.0,2.0,0.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
4,1.0,10150.0,999999.0,1.0,3.0,13.0,3.0,1.0,2.0,2.0,...,1.0,1.010150.0999999.01.03.013.03.01.0,2.0,0.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110278,2.0,900451.0,999999.0,999.0,7.0,123.0,2.0,2.0,2.0,2.0,...,1.0,2.0900451.0999999.0999.07.0123.02.02.0,1.0,1.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
110279,2.0,900451.0,999999.0,999.0,7.0,123.0,2.0,2.0,3.0,2.0,...,1.0,2.0900451.0999999.0999.07.0123.02.02.0,1.0,1.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
110280,2.0,900451.0,999999.0,999.0,7.0,123.0,2.0,2.0,4.0,1.0,...,1.0,2.0900451.0999999.0999.07.0123.02.02.0,1.0,1.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos
110281,2.0,900451.0,999999.0,999.0,7.0,123.0,3.0,1.0,1.0,1.0,...,1.0,2.0900451.0999999.0999.07.0123.03.01.0,0.0,0.0,0.0,0.0,12,0.0,3,Nuclear Biparental sin hijos
110282,2.0,900451.0,999999.0,999.0,7.0,123.0,3.0,1.0,2.0,2.0,...,1.0,2.0900451.0999999.0999.07.0123.03.01.0,0.0,0.0,0.0,0.0,12,0.0,3,Nuclear Biparental sin hijos

In [28]:
df_result_final.to_csv('Base_enemdu_con_tipologia_hogar.csv', index = False)