# Union de base de datos Censo y la tipologia de hogar

In [1]:
#Librerias

import pandas as pd 
import pyreadstat
from tqdm import tqdm

In [2]:
# Ubicacion del la base de datos censo 2010

path_censo = 'base_censo_2010/CPV2010m_Hogar.sav'

# Ubicacion del la base de datos de tipologia de hogar

path_tipology = 'Tipologia_final.csv'

In [3]:
# Lectura de la base de datos Censo 2010 en formato ".sav"

df_censo_2010, metadata_censo_2010 = pyreadstat.read_sav(path_censo, apply_value_formats=False)

In [4]:
# Lectura de la base de datos tipologia de hogar en formato ".csv"

df_tipology = pd.read_csv(path_tipology)

In [5]:
df_censo_2010.head()

,I01,I02,I03,I04,I05,I06,I09,I10,URH,H00,...,M2B,TP1,TH1,TM1,id_man,id_viv,id_hog,id_provin,id_can,id_parr
0,01,01,50,001,001,01,001,1,1.0,1.0,...,NaN,5.0,1.0,4.0,01015000100101,01015000100101001,010150001001010011,01,0101,010150
1,01,01,50,001,001,01,002,1,1.0,1.0,...,NaN,2.0,1.0,1.0,01015000100101,01015000100101002,010150001001010021,01,0101,010150
2,01,01,50,001,001,01,003,1,1.0,1.0,...,1.0,8.0,4.0,4.0,01015000100101,01015000100101003,010150001001010031,01,0101,010150
3,01,01,50,001,001,01,004,1,1.0,1.0,...,NaN,9.0,4.0,5.0,01015000100101,01015000100101004,010150001001010041,01,0101,010150
4,01,01,50,001,001,01,005,1,1.0,1.0,...,NaN,1.0,0.0,1.0,01015000100101,01015000100101005,010150001001010051,01,0101,010150

In [6]:
df_tipology.head()

,P01,P02,id,Numero de hijos,Numero de hijas,Parientes,No Parientes,Codigo,Nh,Tipology,Tipo de Hogares
0,1.0,1.0,10150001001010011,0.0,3.0,0.0,0.0,123,3.0,2,Nuclear Biparental con hijos
1,1.0,1.0,10150001001010101,1.0,2.0,0.0,0.0,123,3.0,2,Nuclear Biparental con hijos
2,2.0,1.0,10150001001010121,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
3,1.0,1.0,10150001001010141,0.0,1.0,0.0,0.0,123,1.0,2,Nuclear Biparental con hijos
4,1.0,1.0,10150001001010191,1.0,1.0,0.0,0.0,123,2.0,2,Nuclear Biparental con hijos

# Merge entre base de datos

In [7]:
# Crear el id que permitira la union entre base de datos

df_tipology['id_hog']=df_tipology['id']

In [8]:
# Conocer el tipo de datos  de los id que permitiran la union de las bases de datos
print(df_censo_2010['id_hog'].dtypes)
print(df_tipology['id_hog'].dtypes)

object
int64

In [9]:
# Convertir a un mismo tipo de datos 'int64'

df_censo_2010['id_hog'] = df_censo_2010['id_hog'].astype('int64')
df_tipology['id_hog'] = df_tipology['id_hog'].astype('int64')

In [10]:
# Verificar el tipo de datos  de los id que permitiran la union de las bases de datos
print(df_censo_2010['id_hog'].dtypes)
print(df_tipology['id_hog'].dtypes)

int64
int64

In [11]:
%%time
df_result_final = pd.merge(df_censo_2010, df_tipology, on= 'id_hog', how='outer' )

Wall time: 42.8 s

In [12]:
df_result_final

,I01,I02,I03,I04,I05,I06,I09,I10,URH,H00,...,P02,id,Numero de hijos,Numero de hijas,Parientes,No Parientes,Codigo,Nh,Tipology,Tipo de Hogares
0,01,01,50,001,001,01,001,1,1.0,1.0,...,1.0,1.015000e+16,0.0,3.0,0.0,0.0,123.0,3.0,2.0,Nuclear Biparental con hijos
1,01,01,50,001,001,01,002,1,1.0,1.0,...,1.0,1.015000e+16,1.0,0.0,0.0,0.0,13.0,1.0,5.0,Nuclear Monoparental con jefatura femenina
2,01,01,50,001,001,01,003,1,1.0,1.0,...,1.0,1.015000e+16,3.0,2.0,2.0,0.0,135.0,5.0,9.0,Extenso Monoparental con jefatura femenina
3,01,01,50,001,001,01,004,1,1.0,1.0,...,1.0,1.015000e+16,2.0,3.0,1.0,1.0,12358.0,5.0,16.0,Nuclear Extenso Compuesto
4,01,01,50,001,001,01,005,1,1.0,1.0,...,1.0,1.015000e+16,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Unipersonal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3815522,90,04,51,999,022,03,002,1,2.0,1.0,...,1.0,9.004520e+17,0.0,0.0,0.0,0.0,1.0,0.0,1.0,Unipersonal
3815523,90,04,51,999,022,03,013,1,2.0,1.0,...,1.0,9.004520e+17,0.0,2.0,0.0,0.0,123.0,2.0,2.0,Nuclear Biparental con hijos
3815524,90,04,51,999,022,04,001,1,2.0,1.0,...,1.0,9.004520e+17,1.0,2.0,0.0,0.0,123.0,3.0,2.0,Nuclear Biparental con hijos
3815525,90,04,51,999,022,04,002,1,2.0,1.0,...,1.0,9.004520e+17,1.0,3.0,1.0,0.0,1237.0,4.0,6.0,Extenso Biparental con hijos
3815526,90,04,51,999,022,04,003,1,2.0,1.0,...,1.0,9.004520e+17,1.0,2.0,0.0,0.0,123.0,3.0,2.0,Nuclear Biparental con hijos

In [13]:
df_result_final.to_csv('Base_censo_2010_con_tipologia_hogar.csv', index = False)